*{
    padding: 0;
    margin: 0;
}
body{
  
}
header{
    min-height: 150px;
    width: 100%;
    background: linear-gradient(180deg, rgb(12, 105, 226), white);

}

.flex-box{
    width: 70%;
    height: 1000px;
    background: green;
    margin: auto;
}

.content-box{
    display: flex;
    justify-content: space-between;
    background-color:#999; 
    height:20%;
    width: 40%;
}
menu{
    height:30%;
    width: 100%;
    background:rgb(31, 31, 72);
    
}
.top-header{
    min-height: 100px;
    width: 100%;
    background:rgb(65, 65, 141);
    position: relative;
    z-index: 1;
}
menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
menu ul li{
    display:inline-block;
    margin: 10px;
    
}
menu ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: arial;
    padding: 20px;
}

@media screen and (max-width:560px){
    menu ul li{
        display:block;
        background: rgb(31, 31, 72);
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 1px 0;
    }

    menu ul{
       
    }



    menu ul li a{    
        padding: 30px;
    
        text-align: center;
    }

    menu{
        background: none;
    }
    .top-header{
        display: none;
    }

    header{
    min-height: 150px;
    width: 100%;
    background: linear-gradient(180deg, rgb(12, 105, 226), white);

}
}